beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.4.7
botocore==1.7.32
bs4==0.0.1
certifi==2017.7.27.1
cfe==0.0.15
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.4.2
Django==1.11.6
django-bootstrap4==0.0.5
django-storages==1.6.5
docutils==0.14
gitdb2==2.0.3
GitPython==2.1.7
gTTS==1.2.2
gTTS-token==1.1.1
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
matplotlib==2.1.1
nltk==3.2.5
numpy==1.13.3
olefile==0.44
pandas==0.22.0
Pillow==4.3.0
playsound==1.2.2
psycopg2==2.7.3.1
PyAudio==0.2.11
pymongo==3.6.0
pyparsing==2.2.0
pypiwin32==222
pypl==40.10
PyQt5==5.10
python-dateutil==2.6.1
pyttsx==1.2
pytz==2017.2
requests==2.18.4
s3transfer==0.1.11
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
simplejson==3.13.2
sip==4.19.7
six==1.11.0
smmap2==2.0.3
speech==0.5.2
SpeechRecognition==3.8.1
stripe==1.68.0
svgwrite==1.1.12
urllib3==1.22
virtualenv==15.1.0
whitenoise==3.3.1
